<html>
  <head>
    <title>strftimer | A Ruby strftime generator</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
    <link href="/css/main.css" media="all" rel="stylesheet" type="text/css">
    <script src="/js/main.js"></script>
    <script src="https://cdn.usefathom.com/script.js" site="XVJZKHLS" defer></script>
  </head>
  <body>
    <header>
      <h1>strftimer</h1>
      <h2>
        A Ruby
        <a href="http://www.ruby-doc.org/core/Time.html#method-i-strftime">strftime</a>
        generator
      </h2>
    </header>

    <main>
      <input type="text" id="query" placeholder="e.g. <%= Time.now.strftime("%-d %b %Y, %H:%M") %>"
        value="" autocomplete="off" autofocus />

      <div id="output" class="output">
        <span id="instructions">
          Enter a date in the format you need
        </span>

        <span id="strftime">
          mytime.strftime("<strong id="directives"></strong>")
        </span>

        <p id="help">
          <strong>ordinalize</strong> method available with
          <a href="https://github.com/rails/rails/tree/master/activesupport">
            ActiveSupport
          </a>
        </p>
      </div>
    </main>

    <footer>
      <a href="https://github.com/edforshaw/strftimer.com">Github</a>
      ·
      <a href="https://edforshaw.co.uk">edforshaw.co.uk</a>
    </footer>
  </body>
</html>
