html {
  font-size: 20px;
}

body {
  background: #222;
  font-family: 'Roboto Mono', monospace;
  color: #888;
  text-align: center;
  font-weight: bold;
}

a {
  color: #ff8760;
}

a:hover {
  background: #ff8760;
  color: #222;
  text-decoration: none;
}

header {
  color: #666;
  margin: 4rem 0;
}

header h1 {
  color: #ff8760;
  margin-bottom: 1rem;
  line-height: 1;
  font-size: 3rem;
}

header h2 {
  font-size: 1rem;
  margin: 0;
}

header h2 a {
  color: #fff;
}

header h2 a:hover {
  background: #fff;
  color: #222;
  text-decoration: none;
}

main {
  margin-bottom: 4rem;
}

main input[type="text"] {
  width: 40rem;
  font-size: 1.5rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  padding: 1.5rem;
  background-color: #ccc;
  outline: 0;
  border: 0;
  text-align: center;
  border-radius: 3px;
  transition: background-color 0.1s linear;
  margin-bottom: 4rem;
}

input[type="text"]::placeholder { color: #555; }
input[type="text"]::-webkit-input-placeholder { color: #555; }
input[type="text"]::-moz-placeholder { color: #555; }
input[type="text"]:-ms-input-placeholder { color: #555; }

main .output {
  font-size: 1.75rem;
  transition: opacity 0.1s linear;
  color: #666;
}

main .output span {
  display: inline-block;
}

main .output strong {
  color: #fff;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem 0;
}

#strftime, #help {
  display: none;
}

#help {
  font-size: 1rem;
  margin-top: 2rem;
}
